@model Linx.WebApp.MVC.ViewModels.MusicaViewModel

@{
    ViewData["Title"] = "Remover";
}

<h2>Remover Música</h2>
<hr />

<vc:Summary></vc:Summary>

<div class="row">
    <div class="col-md-12">
        <div class="grupo-input">
            <label asp-for="Titulo"></label>
            <input asp-for="Titulo" class="input" disabled="disabled" />
        </div>
        <div class="grupo-input">
            <label asp-for="Idioma"></label>
            <select asp-for="Idioma" class="input" value="@Model.Idioma" disabled="disabled">
                <option value="1">Inglês</option>
                <option value="2">Português</option>
            </select>
        </div>
        <div class="grupo-input">
            <label asp-for="AlbumId">Álbum</label>
            <input asp-for="Album.Nome" class="input" disabled="disabled" />
        </div>
        <div class="grupo-input">
            <label asp-for="GeneroId" class="control-label">Gênero</label>
            <input asp-for="Genero.Nome" class="input" disabled="disabled" />
        </div>
        <div class="grupo-botao">
            <form asp-action="ConfirmaRemover">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Confirmar" class="botao botao-verde mr-1" />
                <a asp-action="Index" class="botao botao-vermelho">Voltar</a>
            </form>
        </div>
    </div>
</div>