@model Linx.WebApp.MVC.ViewModels.AlbumViewModel

@{
    ViewData["Title"] = "Atualizar";
}

<h2>Atualizar Álbum</h2>
<hr />

<vc:Summary></vc:Summary>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Atualizar">
            <input type="hidden" asp-for="Id" />
            <div class="grupo-input">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" class="input" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="grupo-input">
                <label asp-for="ArtistaId">Artista</label>
                <select asp-for="ArtistaId" asp-items="@Model.Artistas" class="input"></select>
                <span asp-validation-for="ArtistaId" class="text-danger"></span>
            </div>
            <div class="grupo-botao">
                <input type="submit" value="Salvar" class="botao botao-verde mr-1" />
                <a asp-action="Index" class="botao botao-vermelho">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
