@model Linx.WebApp.MVC.ViewModels.ArtistaViewModel

@{
    ViewData["Title"] = "Remover";
}

<h2>Remover Artista</h2>
<hr />

<vc:Summary></vc:Summary>

<div class="row">
    <div class="col-md-12">
        <div class="grupo-input">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="input" disabled="disabled" />
        </div>
        <div class="grupo-input">
            <label asp-for="InicioCarreira"></label>
            <input asp-for="InicioCarreira" class="input" disabled="disabled" />
        </div>
        <div class="grupo-botao">
            <form asp-action="ConfirmaRemover">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Confirmar" class="botao botao-verde mr-1" />
                <a asp-action="Index" class="botao botao-vermelho">Voltar</a>
            </form>
        </div>
    </div>
</div>
